@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Poppins", sans-serif;  
}

::-webkit-scrollbar {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";


* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
  padding-bottom: 100px;
}

.marquee {
  display: inline-block;
  animation: animate-marquee 10s linear infinite;
  white-space: nowrap;
}

@keyframes animate-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
display: none;
}

.has-bottom-padding::after {
  content: "";
  display: block;
  height: 1rem; /* sesuai dengan p-4 = 16px */
  flex-shrink: 0;
}

