@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;  
}

::-webkit-scrollbar {
  display: none;
}

.has-bottom-padding::after {
  content: "";
  display: block;
  height: 1rem; /* sesuai dengan p-4 = 16px */
  flex-shrink: 0;
}

